<!DOCTYPE html>
<html lang="en">

<%-include('partials/head.html');%>

  <body>
    <%-include('partials/header.html');%>
    <!-- IMAGEN PRINCIPAL INICIO -->
      <section>
        <div class="position-relative">
          <img class="landing_image" src="/img/landingTest3.jpg" alt="landing_image">
          <div class="texto-landing centrar-texto fs-60px">
            <h1>CARPINTERÍA CHAVARÍN</h1>
            <h2 class="color-blanco">"Los mejores diseños de Mazatlán."</h2>
          </div>
        </div>
      </section>
    <!-- NUESTROS TRABAJOS -->
      <section class="wrapper" id="nuestros">
        <div class="contenedor">
          <h1 class="centrar-texto color-white fs-40px">Nuestros trabajos</h1>
          <!-- filter Items -->
          <nav>
            <div class="items">
              <span class="item active" data-name="cocinas">Cocinas</span>
              <span class="item" data-name="closets">Closets</span>
              <span class="item" data-name="puertas">Puertas</span>
              <span class="item" data-name="otros">Otros</span>
            </div>
          </nav>
          <!-- filter Images -->
          <div class="gallery">
            <div class="image" data-name="cocinas"><span><img src="/img/cocina9.jpg" alt="Repisas y Cocina Blanca"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina2.jpg" alt="Cocina Blanca"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina3.jpg" alt="Mueble Refrigerador"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina4.jpg" alt="Cocina Rustica"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina5.jpg" alt="Cocina Rustica"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina6.jpg" alt="Gabinete Rustico"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina7.jpg" alt="Esquinero color Chocolate"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina8.jpg" alt="Mueble con granito"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina1.jpg" alt="Cocineta blanca"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina10.jpg" alt="Mueble Refrigerador"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina11.jpg" alt="Cocina Chocolate"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina12.jpg" alt="Cocina Chocolate"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina13.jpg" alt="Cocina Blanca"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina14.jpg" alt="Cocina Blanca"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina15.jpg" alt="Cocina Blanca"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina16.jpg" alt="Cocina parte estufa"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina17.jpg" alt="Cocina Chocolate campana"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina18.jpg" alt="Cocina Chocolate"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina19.jpg" alt="Barra Chocolate"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina20.jpg" alt="Cocina Chocolate"></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina21.jpg" alt="Fijos Grises"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet1.jpg" alt="Closet Libre Chocolate"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet2.jpg" alt="Closet Chocolate"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet3.jpg" alt="Closet Blanco"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet4.jpg" alt="Closet Naranja"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet5.jpg" alt="Closet Gris"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet6.jpg" alt="Closet Gris"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet7.jpg" alt="Closet Naranja"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet8.jpg" alt="Closet Naranja"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet9.jpg" alt="Closet gris 3 puertas"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet10.jpg" alt="Closet Naranja mantenimiento"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet11.jpg" alt="Closet Naranja"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet12.jpg" alt="Closet Naranja"></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet13.jpg" alt="Mantenimiento Closet Naranja"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas1.jpg" alt="Puerta gris lineas blancas"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas2.jpg" alt="Puertas Naranjas"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas3.jpg" alt="Puerta Chocolate con Linea"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas4.jpg" alt="Puerta Chocolate"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas5.jpg" alt="Puerta Cafe Oscuro"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas6.jpg" alt="Puertas Chocolate"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas7.jpg" alt="Puerta Chocolate con Vistas"></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas8.jpg" alt="Puertas Cafes"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros1.jpg" alt="Maquina de Coser"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros2.jpg" alt="Mini Closet Sencillo"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros3.jpg" alt="Repisas Escuela"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros4.jpg" alt="Isla de Cocina"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros5.jpg" alt="Isla de Cocina"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros6.jpg" alt="Isla de Cocina + Cocina Blanca + Repisas"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros7.jpg" alt="Repisas Baño"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros8.jpg" alt="Fijos Baño Lavabo"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros9.jpg" alt="Fijos Lavabo"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros10.jpg" alt="Mesa Sencilla Chocolate"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros11.jpg" alt="Base de Cama Individual"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros12.jpg" alt="Mostrador para Negocio Rustico"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros13.jpg" alt="Mostrador para Negocio Rustico"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros14.jpg" alt="Banco para Mostrador"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros15.jpg" alt="Comoda Blanca para Ropa"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros16.jpg" alt="Mesa de Centro Chocolate"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros17.jpg" alt="Mesa de Centro Chocolate"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros18.jpg" alt="Mesas de Centro Chocolate"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros19.jpg" alt="Bancos para Comedor"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros20.jpg" alt="Banco para Comedor"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros21.jpg" alt="Buro Chocolate para Ropa"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros22.jpg" alt="Cuna Blanca"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros23.jpg" alt="Escritorio Oficina"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros24.jpg" alt="Cuna Gris"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros25.jpg" alt="Sillon de Concordia"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros26.jpg" alt="Mesa de Centro color Chocolate"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros27.jpg" alt="Cabecera color Cafe"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros28.jpg" alt="Mueble para Perros"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros29.jpg" alt="Mueble para Perros"></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros30.jpg" alt="Archiveros de Oficina"></span></div>
            <!-- fullscreen img preview box -->
            <div class="preview-box">
              <div class="details">
                <span class="icon fas fa-times"></span>
              </div>
              <div class="image-box"><img src="" alt=""></div>
            </div>
            <div class="shadow"></div>
          </div>
        </div>
      </section>  
    <!-- MATERIALES -->
      <section class="materiales" id="materiales">
        <h1 class="centrar-texto">Materiales</h1>
        <div class="contenedor padding-top">
          <div>
            <h3 class="centrar-texto">Calidad</h3>
            <div class="columnas-50">
              <div class="justify-text calidad vertical-text">
                <p>Los materiales utilizados en la empresa son de la mayor calidad en el mercado. 
                  Nuestros proveedores nos brindan materiales de última generación con grandes acabados 
                  y resistencia. Los materiales se ajustan a todos los presupuestos siempre brindando 
                  la mejor calidad posible con la garantía de disponer de un producto 
                  que perdure con el tiempo.</p>
              </div>
              <div class="img-materiales">
                <img src="/img/materiales.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-mini padding-top">
          <div class="centrar-texto">
            <h3>Proveedores</h3>
            <div class="bg-white">
              <div class="columnas-50">
                <div class="proveedores">
                  <img src="/img/valresa.png" alt="">
                  <img src="/img/gpmaderas.png" alt="">
                  <img src="/img/dewalt.png" alt="">
                </div>
                <div class="proveedores">
                  <img src="/img/cuervo.png" alt="">
                  <img src="/img/sayerlack.jpg" alt="">
                  <img src="/img/handyhome.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- ACERCA DE NOSOTROS -->
      <section class="nosotros" id="nosotros">
        <h1 class="centrar-texto color-white fs-40px">Acerca de Nosotros</h1>
        <div class="contenedor-nosotros">
          <img src="/img/herramientas.png" alt="">
          <div>
            <h3>Misión</h3>
            <p>Crear muebles de alta calidad para cumplir con las necesidades del hogar y permitir experimentar 
              comodidad a los clientes al usar nuestros productos.
            </p>
          </div>

          <div>
            <h3>Visión</h3>
            <p>Convertir a Carpintería Chavarín en la empresa más detallista y solicitada para el servicio de creación y
              mantenimiento de muebles del municipio de Mazatlán.
            </p>
          </div>

          <div>
            <h3>Historia</h3>
            <p>La Carpintería Chavarín cuenta con más de 15 años de experiencia en 
              el rubro de carpintería. Su fundador es José Carlos Chavarín Carrillo. 
              Dentro de los clientes se encuentra una amplia cantidad de profesores,
               empresas privadas encargadas de amueblado de departamentos y 
               fraccionamientos nuevos además del público en general que busca un producto personalizado para su hogar. Los trabajos son validados totalmente por los clientes los cuales han quedado satisfechos con todos los trabajos realizados.
            </p>
          </div>
        </div>
      </section>
    <!-- CONTACTO -->
      <section class="contact" id="contacto">
        <h1 class="centrar-texto">Contacto</h1>
        <div class="contenedor-mini centrar-texto">
          <h2>Contacta con nosotros sin compromiso cualquier cotización en Mazatlán.</h2>
          <h3>Teléfonos directos:</h3>
          <p>6691 29 32 90 - Carlos Chavarín Carrillo (dueño).</p>
          <p>6692 75 24 66 - José Chavarín (oficina)</p>
          <h3>Correos electrónicos:</h3>
          <p>carpinteriachavarin@gmail.com</p>
          <p>jchavaringaxiola@gmail.com</p>
        </div>
        <div class="contenedor-mini mapa">
          <h1>Ubicación</h1>
          <h3>Andador Francisco Cañedo 336/Gral. Salvador Alvarado 336, Colonia Infonavit Jabalies. Mazatlán, Sinaloa. C.P. 82165</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1832.8238099730547!2d-106.41147539945563!3d23.255906663930368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f5330ade63fd1%3A0xc494c3af823ce742!2sGral.%20Salvador%20Alvarado%20336%2C%20Jabal%C3%ADes%2C%2082165%20Mazatl%C3%A1n%2C%20Sin.!5e0!3m2!1ses-419!2smx!4v1648452918850!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </section>
    <%-include('partials/footer.html');%>
  </body>
  
</html>