<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head.html');%>

  <body>
    <%-include('partials/header.html');%>
    <!-- IMAGEN PRINCIPAL INICIO -->
      <section>
        <div class="position-relative">
          <img class="landing_image" src="/img/landingTest3.jpg" alt="landing_image">
          <div class="texto-landing centrar-texto fs-60px">
            <h1>CHAVARÍN CARPENTRY</h1>
            <h2 class="color-blanco">"The best designs in Mazatlán."</h2>
          </div>
        </div>
      </section>
    <!-- NUESTROS TRABAJOS -->
      <section class="wrapper" id="nuestros">
        <div class="contenedor">
          <h1 class="centrar-texto color-white fs-40px">Our Work</h1>
          <!-- filter Items -->
          <nav>
            <div class="items">
              <span class="item active" data-name="cocinas">Kitchens</span>
              <span class="item" data-name="closets">Closets</span>
              <span class="item" data-name="puertas">Doors</span>
              <span class="item" data-name="otros">Others</span>
            </div>
          </nav>
          <!-- filter Images -->
          <div class="gallery">
            <div class="image" data-name="cocinas"><span><img src="/img/cocina9.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina2.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina3.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina4.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina5.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina6.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina7.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina8.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina1.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina10.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina11.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina12.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina13.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina14.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina15.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina16.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina17.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina18.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina19.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina20.jpg" alt=""></span></div>
            <div class="image" data-name="cocinas"><span><img src="/img/cocina21.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet1.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet2.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet3.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet4.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet5.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet6.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet7.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet8.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet9.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet10.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet11.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet12.jpg" alt=""></span></div>
            <div class="image hide" data-name="closets"><span><img src="/img/closet13.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas1.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas2.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas3.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas4.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas5.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas6.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas7.jpg" alt=""></span></div>
            <div class="image hide" data-name="puertas"><span><img src="/img/puertas8.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros1.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros2.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros3.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros4.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros5.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros6.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros7.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros8.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros9.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros10.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros11.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros12.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros13.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros14.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros15.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros16.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros17.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros18.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros19.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros20.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros21.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros22.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros23.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros24.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros25.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros26.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros27.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros28.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros29.jpg" alt=""></span></div>
            <div class="image hide" data-name="otros"><span><img src="/img/otros30.jpg" alt=""></span></div>
            <!-- fullscreen img preview box -->
            <div class="preview-box">
              <div class="details">
                <span class="icon fas fa-times"></span>
              </div>
              <div class="image-box"><img src="" alt=""></div>
            </div>
            <div class="shadow"></div>
          </div>
        </div>
      </section>  
    <!-- MATERIALES -->
      <section class="materiales" id="materiales">
        <h1 class="centrar-texto">Materials</h1>
        <div class="contenedor padding-top">
          <div>
            <h3 class="centrar-texto">Quality</h3>
            <div class="columnas-50">
              <div class="justify-text calidad vertical-text">
                <p>The materials used in the company are of the highest quality in the market. Our suppliers provide us with state-of-the-art materials with great finishes and resistance. The materials are adjusted to all budgets always providing the best possible quality with the guarantee of having a product that lasts over time.</p>
              </div>
              <div class="img-materiales">
                <img src="/img/materiales.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-mini padding-top">
          <div class="centrar-texto">
            <h3>Suppliers</h3>
            <div class="bg-white">
              <div class="columnas-50">
                <div class="proveedores">
                  <img src="/img/valresa.png" alt="">
                  <img src="/img/gpmaderas.png" alt="">
                  <img src="/img/dewalt.png" alt="">
                </div>
                <div class="proveedores">
                  <img src="/img/cuervo.png" alt="">
                  <img src="/img/sayerlack.jpg" alt="">
                  <img src="/img/handyhome.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- ACERCA DE NOSOTROS -->
      <section class="nosotros" id="nosotros">
        <h1 class="centrar-texto color-white fs-40px">About Us</h1>
        <div class="contenedor-nosotros">
          <img src="/img/herramientas.png" alt="">
          <div>
            <h3>Mission</h3>
            <p>To create high quality furniture to meet the needs of the home and to allow customers to experience comfort to customers when using our products.</p>
          </div>

          <div>
            <h3>Vission</h3>
            <p>To turn Chavarín Carpentry into the most detailed and requested company for the service of creation and maintenance of furniture in the municipality of Mazatlán. maintenance of furniture in the municipality of Mazatlan.</p>
          </div>

          <div>
            <h3>History</h3>
            <p>Chavarin Carpentry has more than 15 years of experience in the carpentry business. Its founder is José Carlos Chavarín Carrillo. Among the clients are a large number of teachers, private companies in charge of furnishing apartments and new subdivisions as well as the general public looking for a customized product for their home. The projects are fully validated by the clients who have been satisfied with all the work done.</p>
          </div>
        </div>
      </section>
    <!-- CONTACTO -->
      <section class="contact" id="contacto">
        <h1 class="centrar-texto">Contact</h1>
        <div class="contenedor-mini centrar-texto">
          <h2>Contact us without obligation for any price estimate in Mazatlan.</h2>
          <h3>Phone Numbers:</h3>
          <p>6691 29 32 90 - Carlos Chavarín Carrillo (dueño).</p>
          <p>6692 75 24 66 - José Chavarín (oficina)</p>
          <h3>Emails:</h3>
          <p>carpinteriachavarin@gmail.com</p>
          <p>jchavaringaxiola@gmail.com</p>
        </div>
        <div class="contenedor-mini mapa">
          <h1>Location</h1>
          <h3>Andador Francisco Cañedo 336/Gral. Salvador Alvarado 336, Colonia Infonavit Jabalies. Mazatlán, Sinaloa. C.P. 82165</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1832.8238099730547!2d-106.41147539945563!3d23.255906663930368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f5330ade63fd1%3A0xc494c3af823ce742!2sGral.%20Salvador%20Alvarado%20336%2C%20Jabal%C3%ADes%2C%2082165%20Mazatl%C3%A1n%2C%20Sin.!5e0!3m2!1ses-419!2smx!4v1648452918850!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </section>
    <%-include('partials/footer.html');%>
  </body>
  
</html>