<!DOCTYPE html>
<html lang="en">

<body>
  <header class="site-header">
    <div class="contenedor">
      <div class="contenido-espacio">
        <div class="centrar-logo">
          <a href="index">
            <img class="logotipo" src="/img/logoCarpinteria.png" alt="logotipo">
          </a>
        </div>
        <nav class="navegacion">
          <a href="#nuestros">Our Work</a>
          <a href="#materiales">Materials</a>
          <a href="#nosotros">About Us</a>
          <a href="#contacto">Contact</a>
          <a class="btn" href="indexES">Español</a>
        </nav>
      </div>
    </div>
  </header>
</body>

</html>
