<!DOCTYPE html>
<html lang="en">

<body>
  <header class="site-header">
    <div class="contenedor">
      <div class="contenido-espacio">
        <div class="centrar-logo">
          <a href="index">
            <img class="logotipo" src="/img/logoCarpinteria.png" alt="logotipo">
          </a>
        </div>
        <nav class="navegacion">
          <a href="#nuestros">Nuestros Trabajos</a>
          <a href="#materiales">Materiales</a>
          <a href="#nosotros">Acerca de Nosotros</a>
          <a href="#contacto">Contacto</a>
          <a class="btn" href="indexEN">English</a>
        </nav>
      </div>
    </div>
  </header>
</body>

</html>